[Magic Training;1;1;][Bewitched Influence;1;0;][Deterrent;1;0;][Mana Enchant;1;1;][Magic Supreme;2;0;0;][EarthQuake;1;1;][Element Erosion;3;0;0;0;][Quick Meditation;1;0;][Forbidden Magic Field;1;0;][Vital Shot;1;0;][Vital Replanish;1;0;][Element Mastery;1;0;][Plague Spread;1;1;][Phantom Invade;1;0;][Ghost Pirate;1;0;][Hidden skills;1;0;][Tear Injury;1;0;][Secret Of Live;1;0;]
